    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Indrek Minus 10</h2>
                <p>It's time to get Indrek back to shape. This is a project to push myself so much that I once again see the number 85 kg on my scale. The number that I last saw 5 years ago. On this journey I will be tracking my progress with FitnessNotes Android app and Polar sports watch. The progress will be shown at the top in graphs.
                </p>
            </div>
        </div>
    </section>